[submodule "MeowDSIO"]
	path = MeowDSIO
	url = https://github.com/Meowmaritus/MeowDSIO
[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/Meowmaritus/SoulsFormats
[submodule "PSO2-Aqua-Library"]
	path = PSO2-Aqua-Library
	url = https://github.com/Shadowth117/PSO2-Aqua-Library.git
